
<h1>Is it a triangle??</h1>
<form action="/grab">

  <div class="form-group">
     <label for="side0">Enter 1st side length</label>
     <input id="side0" name="side0" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="side1">Enter 2nd side length</label>
     <input id="side1" name="side1" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="side2">Enter 3rd side length</label>
     <input id="side2" name="side2" class="form-control" type="number">
  </div>


  <div><button type="submit" class="btn-success">Send</button></div>
</form>
