
<h1>Is it a triangle, if so what type?</h1>
<h3>One side has a length of <strong><%= @side0 %></strong></h3>
<h3>Another side has a length of <strong><%= @side1 %></strong></h3>
<h3>Third side has a length of <strong><%= @side2 %></strong></h3>

<h2>Answer: <%= @output %></h2>
